.saffron{
    height: 200px;
    width: 900px;
    background-color: #ff9933;
}
.white{
    height: 200px;
    width: 900px;
    background-color: #ffffff;
    position: relative;
}
.green{
    height: 200px;
    width: 900px;
    background-color: #138808;
}
.chakra{
    height: 185px;
    width: 185px;
    position: absolute;
    left: 357.5px;
    top: 7.5px;
}.flag{
    display: flex;
    flex-direction: column;

}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.ashoka{
    height: 185px;
    width: 185px;
    border: 4px solid #000080;
    border-radius: 50%;
    position: relative;
    bottom: 400px;
    left: 357.5px;
    
}
.spoke{
    position: absolute;
    width: 2px;
    height: 92.5px;
    background-color: #000080;
    left: 92.5px;
    transform-origin: bottom center;
    transform: translateX(-50%) rotate(calc(var(--i) * 15deg));


}